.link-holders {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: center;
  font-size: 25px;
  text-decoration: none;
}

.link-holders a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: white;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  background-color: #2f8587;
  border-radius: 10px;
  margin-left: 10px;
}
.link-holders a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
  text-decoration: none;
}

.link-holders p {
  color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
}
