{% extends 'base.html' %} {% block title %} Boggle {% endblock %} {% block
game_board %}

<div class="letter_game_board">
  {% for row in board %}
  <div class="letter_row">
    {% for letter in row %}

    <div class="letter_div"><h3 class="each_letter">{{ letter }}</h3></div>

    {% endfor%}
  </div>
  {% endfor%}
</div>

<div class="quess_form_div">
  <h1 class="h1">Quess a Word</h1>
  <form action="/">
    <div class="inside_form_container">
      <input
        autofocus
        id="work_quess"
        type="text"
        name="word_guess"
        class="form-control"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm"
      />
      <input id="submit_word" class="btn btn-light" type="submit" />
      
    </div>
    <h5 class="red"></h5>
  </form>
</div>

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modal-h5"></h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="question">
          <h2 class="is_a_word"></h2>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btnClose btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
