body {
  background-color: darkgrey;
  color: aliceblue;
  margin-left: 20px;
}

.letter_row {
  display: flex;
}

.letter_game_board {
  background-color: blueviolet;
  max-width: fit-content;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px white;
}

.letter_div {
  display: flex;
  justify-content: center;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 2px solid white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  background-color: aqua;
  color: black;
  box-shadow: 1px 1px white;
}

.quess_form_div {
  margin-top: 10px;
}

input {
  width: 100px;
  margin-right: 5px;
}

#work_quess {
  width: 175px;
}

.inside_form_container {
  display: flex;
}

.main_board {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.letter_game_board {
  align-self: center;
}

.quess_form_div {
  align-self: center;
}

.word_result {
  margin-top: 20px;
}
