body {
    background-color: lightgray;
}

.todo {
    font-size: 40px;
    color: purple;
}

.todo:hover {
    background-color: rgba(221, 108, 108, 0.3);
    transition: all 500ms;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    text-align: center;
    transition: all 1s;
}

.big {
    transform: scale(2);
    color: green;
}

.small {
    transform: scale(0.5);
    color: red;
}

.imgT {
    width: 200px;
    height: 200px;
}