.Die {
  background-color: seagreen;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10%;
  margin-top: 0.5em;
}
