.backIMG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
/* .backIMG img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
