.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
  /* Change Border */
  border: solid 2px green;
  border-radius: 10px;
  
}

.Cell-lit {
  background-color: white;
}
