.Cell {
  height: 15vh;
  width: 300px;
  background-color: whitesmoke;
  cursor: pointer;
  /* Change Border */
  border-radius: 10px;
  margin: 1px;
}

.Cell-lit {
  background-color: yellowgreen;
}
