.backIMG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 20px; */
  border-radius: 10px;
  width: 250px;
  height: 300px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

h3 {
  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 2px 0 3px;
}

.top {
  margin-top: 0px;
}

.bottom {
  margin-bottom: 0px;
}
