body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    
}

h1 {
    font-size: 15rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}

