.Circle {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  line-height: 100px;
  font-weight: bold;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}
button:hover {
  color: #ffffff;
  background-color: #006570;
}
