/* CSS Here */

.pet_color {
  color: #5a5a5a;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 5px;
}

.pet_holder {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.pet_name {
  color: #767474;
  font-size: 20px;
}

.pet_available {
  color: #5e5d5d;
  font-size: 20px;
  font-weight: bolder;
}

.pet {
    display: flex;
    flex-direction: column;
}

.some_margin {
  margin-bottom: 20px;
}
