{% extends 'base.html' %} {% block title %} Edit Login {% endblock %} {% block
content %}

<h2>Edit a user</h2>
<div class="form_holder edit_button">
  <form class="form-group" action="/users/{{ user.id }}/edit" method="POST">
    <div class="form-group">
      <label for="id_first_name">First Name:</label>
      <input
        class="form-control"
        id="id_first_name"
        name="first_name"
        type="text"
        placeholder="Enter a first name"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="form-group">
      <label for="id_last_name">Last Name:</label>
      <input
        class="form-control"
        id="id_last_name"
        name="last_name"
        type="text"
        placeholder="Enter a last name"
        value="{{ user.last_name }}"
      />
    </div>
    <div class="form-group">
      <label for="id_img_user">Image URL:</label>
      <input
        class="form-control"
        id="id_img_user"
        name="img_user"
        type="text"
        placeholder="Provide an image of this user"
        value="{{ user.image_url }}"
      />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="cancel_edit btn btn-light">Cancel</button>
  </form>
  <div>
    
  </div>
</div>

<script type="text/javascript">
  // Making a variable here so that way i can use it in javascritp
  let user_id = '{{ user.id|safe }}'
  // console.log(result_six_month)

</script>

{% endblock%}
