{% extends 'base.html' %} {% block title %} User Login {% endblock %} {% block
content %}

<h2>Create a tag</h2>
<br>
<div class="form_holder">
  <form class="form-group" action="/tags/new" method="POST">
    <div class="form-group">
      <label for="id_name">Name: </label>
      <input
        class="form-control"
        id="id_name"
        name="tag_name"
        type="text"
        placeholder="Enter a name for the tag"
      />
    </div>
    <div class="button_holder">
      <a href="/tags" class="btn btn-light ">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>
</div>

{% endblock%}
