{% extends 'base.html' %} {% block title %} All Users {% endblock %} {% block
content %}
<div class="user_holder container">
  <div class="name">
    <h2 class="display-3">{{ tag.tag_name }}</h2>

    <div class="user_post">
      {% if posts %}
      <ul>
        {% for p in posts %}
        <li><a href="/posts/{{ p.post.id }}"> {{ p.post.title }} </a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="edit_button">
      <form action="/tags/{{ tag.id }}/edit" method="get">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form action="/tags/{{ tag.id }}/delete" method="POST">
        <button type="submit" class="delete_user btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>

{% endblock%}
