.SignUpForm {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin-top: 10%;
  border: 0.5px solid #acb5bf;
  border-radius: 10px;
  padding: 20px;
}

.pwdHolder {
  display: flex;
  flex-direction: column;
  /* border: solid 1px #acb5bf; */
  font-size: 12px;
  padding: 15px;
  border-radius: 15px;
}

h5 {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  /* border: 1px solid #acb5bf; */
  /* border-radius: 10px; */
  /* background: #e6e2e2; */
  color: brown;
}

h5 span {
  background-color: rgb(215, 202, 202);
}
