{% extends 'base.html' %} {% block content %} {% include 'form_.html' %}

<div class="container">
  <br />
  <h1 class="display-2">Tweets</h1>

  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>
      {{ field.label }} {{ field(class_="form-control form-control-sm") }} {%
      for error in field.errors %} {{ error }} {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Post Tweet</button>
  </form>

  {% for t in all_tweets %}
  <div class="card my-4">
    <div class="card-body" class="catd-title">
      <h5 class="text-info">
        {{ t.user.username }} {% if session['user_id'] == t.user_id %}
        <form style="display: inline" action="/tweets/{{ t.id }}" method="POST">
          <button class="btn btn-sm btn-light">
            <i class="fas fa-trash" ></i>
          </button>
        </form>
        {% endif %}
      </h5>
      <p class="card-text text-lg">{{ t.text }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
