{% extends 'base.html' %} {% block title %} Title Here {% endblock %} {% block
content %}
<div class="container">
  <h1>Edit Employee</h1>

  <form method="POST">
    {{ form.hidden_tag() }} 
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="") }}
      {% for err in field.errors %}
      {{ err }}
      {% endfor %}
    
    </p>
    {% endfor %}


    <button class="btn btn-sm btn-success">Save</button>
  </form>
</div>

{% endblock%}
