.itemHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #d2d2d2;
  border-radius: 10px;
  margin-top: 5px;
  width: 97vw;
}

.itemHolder img {
  width: 100px;
  height: 100px;
}
